<!--@subject Contact Form@-->
<!--@vars
{"var toName",
"var content",
"var fromName",
"var fromEmail"}
@-->
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="email-heading">
                        <p>Hi {{var toName}}</p>
                        <p>{{var content}}</p>
                        <p>Thanks & regards</p>
                        <p>{{var fromName}},</p>
                        <p>{{var fromEmail}},</p>


                    </td>

                </tr>
            </table>
        </td>
    </tr>
</table>

