<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <perficient translate="label" module="mymodule">
            <label>Perficient Extensions</label>
            <sort_order>100</sort_order>
        </perficient>
    </tabs>
    <sections>
        <perficient translate="label" module="mymodule">
            <label>Extension Options</label>
            <tab>perficient</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <perficient_group translate="label" module="mymodule">
                    <label>Perficient Extension Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <perficient_input translate="label">
                            <label>My Input Field: </label>
                            <comment>My Comment</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </perficient_input>
                        <perficient_select translate="label">
                            <label>My Dropdown: </label>
                            <comment>Source model provider Magento's default Yes/No values</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                            <!--<source_model>adminhtml/system_config_source_country</source_model>-->
                            <!--<source_model>adminhtml/system_config_source_enabledisable</source_model>-->
                        </perficient_select>

                    </fields>
                </perficient_group>
            </groups>
        </perficient>
    </sections>
</config>